<div id="table_container">
  <div class="page_title ui-widget-header ui-widget">Employee Payslip</div>
  <table class="page_container ui-widget">
    <tbody>
      <tr>
        <td valign="top"><%= render 'search_form' %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= render 'shared/alert_panel' %>
