<div id="dialog-add" title="<%= @dialog_add_title %>">
  <div id="dialog_add_body"></div>
</div>
<div id="dialog-edit" title="<%= @dialog_edit_title %>">
  <div id="dialog_edit_body"></div>
</div>
