<table>
  <tr>
    <% if @include_search %>
    <td>
      <%= render 'shared/search_button' %>
    </td>
    <% end %>
    <td>
      <%= render 'shared/add_button' %>
    </td>
    <td>
      <%= render 'shared/delete_button' %>
    </td>
  </tr>
</table>
