<div id="status-panel" class="ui-widget">
  <div id="status-panel_outer" style="margin-top: 20px; padding: 0 .7em;">
    <p>
      <span id="status-panel_inner" style="float: left; margin-right: .3em"></span>
      <div id="status_msg" style="margin-left: 20px;"></div>
    </p>
  </div>
</div>
