<div id="section_option">
  <span id="main_options" class="hover ui-corner-all ui-state-default">
    <span class="icons optionicon paddicon">Options</span>
  </span>
</div>
<div id="theme_option" class="theme_options ui-state-highlight">
  <div class="ui-widget-header aligncenter" style="height: 17px">
    <span>Select Theme</span>
    <span class="icons cancelicon hover" style="margin-left: 10px"></span>
  </div>
  <div id="theme_body" style="display: inline"></div>
</div>
