<table class="nav_table">
  <tr>
    <td>
      <span id="id_prev" class="page_button ui-state-default ui-corner-all">
        <span class="icons lefticon">&nbsp;</span>
      </span>
    </td>
    <td>
      <span id="id_next" class="page_button ui-state-default ui-corner-all">
        <span class="icons righticon">&nbsp;</span>
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_display"><%= t('general.display') %>:</label>
      <select id="id_display">
        <option value="0"><%= t('general.all') %></option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100" selected="selected">100</option>
      </select>
    </td>
    <td>
      <span class="item_display"></span>
    </td>
  </tr>
</table>
