<%= render 'home/search_input' %>
<table>
  <tr>
    <td>
      <div id="id_add" class="hover ui-state-default ui-corner-all">
        <span class="icons addicon paddicon"><%= t('general.add') %></span>
      </div>
    </td>
    <td>
      <div id="id_delete" class="hover ui-state-default ui-corner-all">
        <span class="icons deleteicon paddicon"><%= t('general.delete') %></span>
      </div>
    </td>
  </tr>
</table>
