<table>
  <tr>
    <td>
      <div id="id_add" class="hover ui-state-default ui-corner-all">
        <span class="icons addicon paddicon">Add</span>
      </div>
    </td>
    <td>
      <div id="id_delete" class="hover ui-state-default ui-corner-all">
        <span class="icons deleteicon paddicon">Delete</span>
      </div>
    </td>
  </tr>
</table>
