<input id="id_query" type="text" class="search" placeholder="<%= t('general.search_placeholder') %>" title="<%= t('general.search_placeholder') %>" />
<span id="id_find" class="hover ui-state-default ui-corner-all">
  <span class="icons findicon paddicon"><%= t('general.find') %></span>
</span>
