<table>
  <tr>
    <td>
      <%= label_tag :id_year, 'Year', :class => 'label' %>
    </td>
    <td class="colspacing">
      <%= select_year(0, { :start_year => Time.now.year, :end_year => end_year, :prompt => 'All' }, { :id => 'id_year', :class => 'select' }) %>
    </td>
    <td colspan="2"></td>
  </tr>
</table>
<br />
<% @include_search = true %>
<%= render 'shared/panel_button' %>
