<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "loginui", :media => "all" %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>

<body class="ui-widget-content">
  <%= yield %>
</body>
</html>
