<% @dialog_title = 'Personal Details' %>
<div class="page_title ui-widget-header ui-widget">Personal Details</div>
<%= render 'form' %>
<div style="margin-top: 10px">
  <%= render 'shared/save_button' %>
</div>
<%= render 'shared/alert_panel' %>
